body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f0e6;
    text-align: center;
}
body {
  background-image: url("coffe inspo.jpg");

}



::backdrop {
    background-image: url('photo-1453614512568-c4024d13c247.avif');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #564545;
    color: rgb(244, 237, 237);
    padding: 20px;
}

.menu {
    padding: 40px;
}

.menu h2 {
    color: #dfdbdb;
}

.menu-item {
    background-color: rgb(231, 225, 225);
    margin: 15px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(208, 153, 153);
}

.menu-item h3 {
    margin: 5px;
}

.menu-item span {
    font-weight: bold;
    color: #4b2e2e;
}

footer {
    background-color: #4b2e2e;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
::backdrop image {
    background-color: #e0d7d7;
}